*.iml
.idea/
.DS_Store
settings.production.json
node_modules/
npm-debug.log
*.css
app/client/style.css
app/.meteor/*
teambonding.txt

# Created by https://www.gitignore.io/api/meteorjs
# Edit at https://www.gitignore.io/?templates=meteorjs

### MeteorJS ###
# default meteor build and local packages
.meteor/local

# meteor settings file
settings.json

# meteor build output files
*.tar.gz

# general swp files from vim
*.swp

# End of https://www.gitignore.io/api/meteorjs
