.landing-background{
  background: url('/images/landing2.png') no-repeat center center fixed;
  background-size: cover;
  paddingTop: 500px !important;
//background-color: #8a8a8a;
}

.ClubAdmin-Background{
  background: url('/images/uhlogo.png')no-repeat center center fixed;
  background-size: cover;
}


.ui.center.aligned.container{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -142px !important;

}